body {
  background-color: whitesmoke;
}
.container {
  padding: 1rem;
  /* display: block; */
  background-color: bisque;
}
.header {
  display: block;
  text-align: center;
  color: rgb(79, 44, 44);
}
.title {
  font-size: x-large;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.content {
  margin-top: 10px;
  padding: 2rem;
  width: 700px;
  height: auto;
  background-color: rgb(172, 172, 89);
}
.btns {
  margin: 10px 49%;
  padding: 1rem;
  justify-content: center;
}
.btn {
  padding: 10px;
  border-radius: 100000px;
  cursor: pointer;
  background-color: lightblue;
  transition: width 2s;
}
.btn_show:hover {
  width: 100px;
}
.form {
  display: flex;
  margin: 10px 10% 0px 10%;
  justify-content: space-between;
  align-items: center;
}
th {
  padding-top: 8px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blueviolet;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

tr:hover {
  background-color: #ddd;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
